<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>控制台 - TMS</title>
    <link rel="stylesheet" href="/view/frame/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/view/frame/static/css/global.css?v=1.0">
    <link rel="stylesheet" href="/view/tms/static/css/iframe.css?v=1.0">
</head>

<body>
    <div class="layui-collapse" style="margin-top:15px;">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">服务器信息</h2>
            <div class="layui-colla-content layui-show">
                <div class="layui-row">
                    <div class="layui-col-xs4">运行环境软件和版本：APACHE</div>
                    <div class="layui-col-xs8">站点物理路径：E:\</div>
                    <div class="layui-col-xs4">服务器操作系统：WINDOWS SERVER 2008</div>
                    <div class="layui-col-xs8">服务器IP：127.0.0.1</div>
                    <div class="layui-col-xs4">脚本解释引擎：VBScript/5.8.19104</div>
                    <div class="layui-col-xs8">返回服务器处理请求的端口：80</div>
                    <div class="layui-col-xs4">FSO文本文件读写： √</div>
                    <div class="layui-col-xs8">数据库使用：MYSQL</div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-collapse" style="margin-top:15px;">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">版权信息</h2>
            <div class="layui-colla-content layui-show">
                <div class="layui-row">
                    <div class="layui-col-xs12">产品版权：广东航程科技有限公司</div>
                    <div class="layui-col-xs12">产品研发：网络技术部</div>
                    <div class="layui-col-xs12">联系方式：0755-82789239</div>
                    <div class="layui-col-xs12">版权持有：© 2017 - 2020 广东航程科技有限公司. All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script charset="utf-8" src="/view/frame/layui/layui.js"></script>
<script charset="utf-8" src="/view/frame/static/js/jquery.min.js?v=1.0"></script>
<script charset="utf-8" src="/view/tms/static/js/tms_index.js?v=1219"></script>

<script charset="utf-8" src="/view/frame/static/js/errorCodeMap.js"></script>
<script charset="utf-8" src="/view/frame/static/js/HC.js?v=1.4"></script>
<script charset="utf-8" src="/view/tms/static/js/validator.js"></script>
<script charset="utf-8" src="/view/tms/static/js/bizUtil.js"></script>

<script>
    layui.use('element', function() {
        var element = layui.element;
    });
</script>

</html>